
 @charset "utf-8";


 @import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
 

 html {
	 box-sizing: border-box;
 }
 
 *, *:before, *:after {
	 box-sizing: inherit;
 }
 


 @media screen and (min-width: 960px) {
 
	 #productos {
		 flex-direction: row;
	 }
 
	 #productos div {
		 width: 30%;
	 }

	 footer ul {
		 flex-direction: row;
	 }
 
 }
 
 

 p {
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;

 }

 h5 {
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
 }
 
img {
	margin: auto;

}
 

 
 .total {
	 width: 100px;
	 height: 80px;
	 background-color: white;
	 border-radius: 8px;
	 padding: 10px;
 }


 #items {
	 display: flex;
	 flex-wrap: wrap;
	 width: 70rem;

	 border-radius: 10px;
	 margin-bottom: 3rem;

 }

button {

	background-color: rgb(9, 79, 140);
	border-radius: 5px;
	border-style: none;
	padding: 0.3em 0.7em 0.3em 0.7em;
	color: white;
 }


.producto {
	margin: 0!important;
	padding-top: 4rem;
}


.a {
	width: 300px;
	height: 420px;
	background-color: rgb(255, 255, 255);
	margin: 30px;
	border-radius: 10px;
	box-shadow: rgb(196, 196, 196) 7px 2px 5px 2px;
}

#carrito {
	font-size: 1.25rem;
	background-color: white;
	height: 11.4rem;
	list-style: none;
	width: 30.5%;
	margin-bottom: 1rem;
	padding-left: 0.5rem;
	margin: auto;
	border-radius: 7px 7px 0px 0px;
}

#total {
	font-size: 1.35rem;

	background-color: white;
	height: 3rem;
	list-style: none;
	width: 30.5%;
	margin-bottom: 1rem;
	border-radius: 0px 0px 7px 7px;
	margin: auto;
	padding-bottom: 1rem;
	padding-left: 0.5rem;
}

main {
	padding-bottom: 3rem;
	background-color: rgb(208, 229, 255);
}

button.comprar {
	margin: auto;
	display: block;
	margin-top: 1rem;
	background-color: rgb(33, 102, 213);
	border-radius: 5px;

}

.comprar_link {
	color: white;

}

.imagen_card {
	width: 14em;
}

.precio {
	font-weight: bold;
	font-size: 1.15rem;
	display: flex;
	justify-content: center;
}